* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;

}

ul, ol {
    list-style-position: inside;
}

.logo {
display:flex;
justify-content: space-evenly;
color:green;

}

h1 {
    color:orange;
    text-align: center;
    font-size:36px;
}

h2 {
    font-size:24px;
}

.bluebut {
    background-color: rgb(65, 143, 211);
    padding:10px;
    color:white;
    border-radius:10px;
    display:inline-block;
    }
    .bluebut a {
        color:white;
        text-decoration: none;
    }
    .bluebut:hover{
        background-color: rgb(29, 112, 186);
    }

#intro {
    display:flex;
    justify-content: center;
    margin-top:50px;
}
    #intro-text {
        display:flex;
        flex-direction: column;
        width:20%;
    }

.gray {
    background-color: rgb(235, 235, 235);
    padding:20px 40px;
    margin:20px 40px;
    border-radius:25px;
    text-align:center;
}
.alert {
    background-color: rgb(222, 116, 116);
    color: white;
    border: 10px black double;
    padding: 20px;
    display: border-box;
    width: 50%;
    margin: 0 auto;
    text-align:center;
}