/* Universal Styling */
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
}
h1 {
    color:orange;
    text-align: center;
    font-size:36px;
}

h2 {
    font-size:24px;
}

/* Homepage styling */

.header {
display:flex;
justify-content: space-evenly;
color:green;
}

#intro {
    display:flex;
    justify-content: center;
    text-align: left;
    margin-top:50px;
}
    #intro-text {
        display:flex;
        flex-direction: column;
        width:400px;
    }
        #intro-text h1{
            text-align:left;
        }

#buttons {
    text-align: center;
    margin:30px;
}

    .bluebut {
        background-color: rgb(65, 143, 211);
        padding:10px;
        color:white;
        border-radius:10px;
        display:inline-block;
        }
        .bluebut a {
            color:white;
            text-decoration: none;
        }
        .bluebut:hover{
            background-color: rgb(29, 112, 186);
        }

.gray {
    background-color: rgb(235, 235, 235);
    padding:20px 40px;
    margin:20px 40px;
    border-radius:25px;
    text-align:center;
}

/* Recipe page styling */

.alert {
    background-color: rgb(222, 116, 116);
    color: white;
    border: 10px black double;
    padding: 20px;
    display: border-box;
    width: 50%;
    margin: 0 auto;
    text-align:center;
}

ul, ol {
    list-style-position: inside;
}